PORT=4000
URL_DB=
EMAIL_USER=
EMAIL_PASS=
FRONTEND_URL=
BACKEND_URL=
ADMIN_ID=
TOKEN_SECRET=
JWT_SECRET=
SESSION_SECRET=
NODE_ENV=
MUX_TOKEN_ID=
MUX_TOKEN_SECRET=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_CALLBACK_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=
MOMO_PARTNER_CODE=
VNPAY_PARTNER_CODE=
VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
VNPAY_URL=
HOST_REDIS=
PASSWORD_REDIS=
PORT_REDIS=
PORT_REDIS=